.bestseller-books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: 1rem;
    padding: 1rem;
    justify-items: center;
}

.bestseller-books-container img {
    width: 100%;
    aspect-ratio: 2 / 3;
    border-radius: 0.8rem;
}

.explore-header {
    margin: 1rem;
    margin-top: 3rem;
}

.options-tab {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 100%;
    margin: 0 1rem;
    margin-top: 3rem;
    overflow-x: scroll;
    position: sticky;
    top:2.9rem;
    background-color: white;
}

.options-tab button {
    all: unset;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.5rem 0.6rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.options-tab .selected-option{
    background-color: black;
    color: white;
}
.options-tab::-webkit-scrollbar {
    height: 3px;
}

.options-tab::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

.options-tab::-webkit-scrollbar-track {
    background: transparent;
}

@media (max-width:780px) {
    .bestseller-books-container {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}
