.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    height: 90vh;
    padding-top: 2rem;
}

.hero-icons-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    gap: 1rem;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease-in-out;
}

.hero-icons-container * {
    cursor: pointer;
}

.hero-icons-container *:hover {
    color: black;
}

.hero-section h1 {
    font-size: 3.5rem;
    width: 90%;
    max-width: 50rem;
    animation: slideIn 1s ease-out forwards;
    padding-top: 0;
}

.hero-section p {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 50rem;
}

.hero-section button {
    padding: 0.8rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

.hero-section span {
    color: #6262f9;
}



@media (max-width:600px) {
    .hero-section h1 {
        font-size: 1.9rem;
    }

    .hero-section p {
        font-size: 0.9rem;
    }
}

@media (min-width:601px) and (max-width:780px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }
}
