nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: white;
    z-index: 100;
}

nav div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

nav * {
    font-weight: 200;
}

nav h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

.links-container a {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
    padding: 0.8rem 0;
    box-sizing: border-box;
}

nav .active-links {
    color: black;
    border-bottom: 2px solid black;
}

nav input {
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    width: 15rem;
    font-size: 0.9rem;
    padding: 0.4rem 1.2rem;
    padding-right: 2.2rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.05);
}

nav form {
    position: relative;
    padding: 0;
    margin: 0;
}

nav form .icon {
    position: absolute;
    right: 1rem;
    top: 25%;
    color: rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
}

nav button a {
    color: white;
}

nav .links-container {
    gap: 2rem;
}

.links-container a:hover{
    color: black;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
    padding: 3rem 0;
}

footer p {
    font-size: 0.8rem;

}