html,
body {
    padding-right: 0;
    margin: 0;
    font-family: Fredoka;
  }
* {
  box-sizing: border-box;
}
.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.align-right{
  margin-left: auto;
}
.align-left{
  margin-right: auto;
}
button{
  all:unset;
  padding: 0.5rem;
  min-width: 6rem;
  text-align: center;
  display: block;
  margin: 0.3rem 0;
  color:black;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  margin: 0.3rem 1rem;
  color: #000f89;
   border: 1px solid #000f89;

}

.button2{
  background-color: #000f89;
  color: white;
}
.button2:hover{
    background-color: #4d5feb;

}
/* button:hover{
  background-color: #000f89;
  color:white;
  
} */

nav{
  padding: 0 2rem;
  position: fixed;
  top:0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
 
}
.big-font{
  font-size: 2rem;
  color: #000f89;
  font-weight: 400;
}
.big-font p{
  margin: 1rem;
}
.big-font div{
  font-size: 1.2rem;
}
main{
  padding: 6rem 2rem;
  min-height: 100vh;
}
.landing-page{
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url('');
  background-size: cover;
  background-position: center;
  margin: 1rem;
  margin-top: 1rem;
}

.landing-page h1, h2{
  font-weight:400;
}
.landing-page input{
  width: 80%;
  padding: 1.2rem;
  padding-left: 3rem;

  border-radius: 2rem;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);

}
.landing-page form{
  position: relative;
}
footer{
  padding: 0.2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background-color: #000426;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
    background-color: #010c69;

  

}

.small-icons{
  font-size: 1.5rem;
  margin-right: 1rem;
}

.footer-icons{
  border: 1px solid black;
  font-size: 2rem;
  padding: 0.3rem;
  margin: 0 0.3rem;
  border-radius: 0.2rem;
}
.footer-icons:hover{
    border: 1px solid white;

}
h1{
  font-size: 3rem;
}
a{
  all:unset;

}
a:hover{
  cursor:pointer;
}
.search-bar, .mini-search-bar{
  all: unset;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  margin: 0 1rem;
  padding: 0.7rem 1rem;
  padding-left: 3rem;
  width: 100%;
  border-radius: 0.4rem;
}

.search-form{
  width: 40%;
  margin: 0;
}
.search-form-2{
  width: 100%;
}
.search-btn-2{
  all:unset;
  position:absolute;
  top: 22%;
  right:72%;
}
.search-btn-2:hover{
  border: none;
}
.mini-search-bar{
  width: 80%;
  margin: 0;
}
.menu{
  display: none;
  font-size: 2rem;
  position: fixed;
  right: 2rem;
}
.close-icon{
  position: fixed;
  top: 2rem;
  left: 2rem;
  font-size: 2rem;
}
.menu-bar{
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  height: 100vh;
  width: 80vw;
  position: fixed;
  right: 0;
  top:0;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-top: 5rem;
  gap: 1rem;
  font-size: 1rem;
}
.icons{
  font-size: 2rem;
  margin: 0 1rem;
  color:#010c69;
}

.open{
  transform: translateX(0);

}
input{
  all: unset;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  margin: 1rem 0;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
}
.signup-box, .addbook-box{
  background-color: white;
  padding: 2rem;
  margin: auto;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  width: fit-content ;
  border-radius: 1rem;
}
.signup-box button{
  width:85%;
  margin: 0;
}
.addbook-box{
  width: 50%;
}
.addbook-box input{
  width: 90%;
}

.filter-bar{
  width: 100% ;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
 gap: 7rem;

}
.filter-bar p{
  font-size: 0.8rem;
  font-style: italic;
  color: rgb(95, 93, 93);
  margin: 0;
  margin-bottom: 0.2rem;
  padding: 0;
  text-align: left;
}
select, option{
  padding: 0.5rem 1rem;
  width: 12rem;
}

.expand{
height: fit-content;
 justify-content: left;
 gap: 2rem;
width: 100%;

}
.small-screen{
  display: none;
}
collapse{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.book-card{
  min-height: 10rem;
  width: 17rem;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  transition: box-shadow 0.4s;
  
}
.book-card img{
  max-width:8rem;
}
.book-card:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);    
}
.book-card-right{
  padding: 0 1rem;
}

img{
  height: 12rem;
  width: auto;
  border-radius: 0.5rem;
}
.book-card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5rem;
}
.book-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.book-details-container{
  min-height: 150vh;
  margin: 7rem 0 25rem 0;
  
}
.book-details-details{
  height: 100vh;
  margin: 0 5rem 5rem 23rem;
}
textarea{
  font-family: inherit;
  font-size: 1rem;
  width: 95%;
  min-height: 3rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  margin: 0.7rem 0;

}

.image-bar{
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82vh;
  width: fit-content;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1);
  padding: 0 3rem 3rem 3rem;
  gap: 1rem;
}
.image-bar img{
  max-width: 15rem;

}
.search-btn{
  all:unset;
  position:absolute;
  top: 40%;
  right:77%;
}
.search-btn:hover{
  border: none;
}

.search-btn-3{
  position: absolute;
  /* right: 54%;
  bottom: 18%; */
  top:18%;
  right:5%;
  margin: 0;
  border: none;
  background-color: #000f89;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  height: 46%;
  width: 3rem;
}
.image-bar img{
  height: 20rem;
  width: auto;
}

.profile-bar{
  padding: 1rem;
  padding-top: 1rem;
  height: fit-content;
  width: fit-content;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  background-color: white;
  top: 5rem;
  right: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.align-center{
  display: flex;
  align-items: center;
}
.close{
  display: none;
}
.hoverDark{
  width: 80%;
  padding: 1rem;
  border-radius: 1rem;
}
.hoverDark:hover{
  background-color: rgb(245, 245, 245);
}
.blueBackground{
  background-color:#000f89;
  color: white;
}
.pinkBackground{
  background-color: white;
  color:#000f89;
  border: 1px solid #000f89;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  text-align: center;
  padding: 20px;
}
.hover-blue{
  border-radius: 1rem;
  padding: 0.2rem;
}
.hover-blue:hover{
  background-color: rgb(212, 212, 255);
}
.hero{
  width: 50%;
  text-align: left;
}
.landing-page img{
   width: 100%;
    height: auto;
    margin: auto;
}

.login-page{
  background-color: #000f89;
  height: 100vh;
background: linear-gradient(#000f89, #2a41f1);
display: flex;
justify-content: center;
align-items: center;
}



@media (max-width: 600px) {
  .landing-page{
    flex-direction: column-reverse;
    margin: 1rem;
  }
  .landing-page h1{
    font-size: 1.5rem;
    justify-content: center;
    
  }
  .landing-page img{
    width: 20rem;
    height: auto;
    margin: 0;
  }
  .hero{
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  
  .menu{
    display: block;
  }
  .hide{
    display: none;
  }
  .small-screen{
    display: flex;
  }
 collapse{
    display: none;
 }
 .staticPosition{
  position: static;
  box-shadow: none;
margin-top: 2rem;
 }
 .staticPosition img{
  margin: 0;
  width: 80vw;
  height: auto;

 }
 .landing-page input{
  padding-left: 1rem;
  text-align: left;

 }
 
 
 .flex-column-small{
  display: flex;
  flex-direction: column;
  
 }
 .book-details-small{
  margin: 0 2rem;
 }
 .addbook-box{
  width: 100%;
 }
}

@media (max-width: 600px) and (min-width:768px){
  .book-card-container{
    gap:0.2rem
  }
}
